body {
    background-attachment: fixed;
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    margin-left:30px ;
}

.home {}

.btn-outline-secondary {
    color: #000;
    border-color: #000;
}


.home-view {
    background-color: rgba(0, 0, 0, 0.447);
    width: 1807px;
    height: 1112px;
    border-radius: 30px;
    margin-bottom: 100px;
    margin-top: 100px;
    margin: 60px, 60px;
    margin-left: 50px;
    border: 2px solid white;
}

.main-status-card {
    margin-top: 40px;
    height: 400px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.585);
    border-radius: 30px;
    margin-left: 50px;
    border: 2px solid white;
}

.show-temp {
    text-align: center;
    margin-top: 30px;
    font-size: 60px;
    color: white;
}

.wind-img {
    width: 150px;
    margin-left: 80px;
}

.show-date {
    color: rgb(171, 165, 165);
    text-align: center;
    font-size: 25px;
    margin-top: -30px;
}

.show-time {
    color: rgb(171, 165, 165);
    text-align: center;
    font-size: 70px;
}


.line-between-date-time {
    color: white;
    border: 1px solid white;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
}


.theme-changer {
    margin-top: 40px;
    width: 800px;
    height: 40px;
    display: flex;
    justify-content: end;
    margin-left: 80px;
    align-items: baseline;
    margin-top: -400px;


}

.forcast-today {

    
}

.today-forecast{
    height: 180px;
    width: 90px;
    border: 2px solid white;
    margin-left: 30px;
    margin-top: 10px;
    border-radius: 30px;
    color: white;
}

.wind-dir {
    color: white;
    text-align: center;
    font-size: 20px;
}

.line-between-maincard-and-forecast {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    align-items: center;
    margin-top: -50px;
    border: 2px solid rgb(255, 255, 255)
}

.align-today-forecast{
  background-color: aqua;
}

.line-of-today-forcast{
    color: white;
    border: 1px solid white;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
}

.current-status{
    margin-top: 500px;
    text-align: end;
    margin-right: 300px;
    margin-bottom: 60px;
    color: rgb(74, 68, 68);
    font-size: 80px;
}

.hours{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px;
}
.inner-line-today-forcast {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    
}

.forecast-details{
    font-size: 20px;
    text-align: center;
}

.forecast-img{
    margin-left: 10px;
    margin-top: -10px;
}

.nav-bar-item{
    color : rgb(255, 255, 255);
    display: grid;
    justify-content: end;
    text-align: center;
    padding-right: 40px;
    align-items: end;
    vertical-align: middle;
    margin-top: 80px;        
    border-collapse: separate;
    border-spacing:0 25px;

}

.align-current-status{
    margin-top: -500px;
}

.align-nav-bar-item-data{
 padding: 20px;
 border-radius: 30px;
 color : white;
 background-color: rgb(0, 0, 0);
 border: 3px solid white;


}

.align-nav-bar-item-data:hover{
    background-color: rgb(0, 0, 0);
    box-shadow: 5px 5px 5px 5px rgb(151, 76, 76)
}

.btn-outline-dark{
    color: #ffffff;
}

.nav-bar-item-adjust{
    margin-top: 40px;
    padding-top: 30px;

}

.align-nav-bar-item-data{
    font-size: 20px;
}